
.ConTheme{
  height: 100vh;
}

fieldset{
  width: auto;
  margin:20px;
  border-radius:10px;
}

legend{
  font-size:1.5rem;
  font-weight:800
}

table{
  width: auto;
  border-collapse: collapse;
  text-align:center;
}

th,td{
  padding:8px 10px;
}

h1{
  font-size: 5rem;
  text-align: center;
  padding: 3rem;
}

.containerAddress {
  margin: 20px;
}

pre {
  background: #eb5853;
  padding: 10px;
  border-radius: 5px;
}

#timeRange {
  margin: 10px;
  padding: 5px;
  font-size: 14px;
}