
<div [ngClass]="themeService.themeSignal()" class="ConTheme">
    <app-header></app-header>

    <div class="containerAddress">
        <fieldset>
            <legend>Visitor Statistics:</legend>
            <table>
                <tr>
                    <th>Main&nbsp;&ndash;</th>
                    <th>DeskTop</th>
                    <th>Phone</th>
                </tr>
                <tr>
                    <th>Current Visitor</th>
                    <td>&#9728;</td>
                    <td>&#x2600;</td>
                </tr>
                <tr>
                    <th>Subscribers</th>
                    <td>&ndash;</td>
                    <td>&ndash;</td>
                </tr>
                <tr>
                    <th>Monthly Visits</th>
                    <td>&#9788;</td>
                    <td>&#x263C;</td>
                </tr>
                <tr>
                    <th>Avg. Visit Duration</th>
                    <td>&#9790;</td>
                    <td>&#x263E;</td>
                </tr>
            </table>
            <div></div>
        </fieldset>
    </div>

    <h1>Thank you for visiting.</h1>
</div>

